:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin-left 0.3s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

/* Badges */

.badge {
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 700;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.badge--secondary {
    background: var(--color-secondary);
    color: var(--color-white);
}

.badge--small {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.8rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* List */

.list {
    list-style: none;
    padding: 0;
    color: var(--color-headings);
}

.list--tick {
    list-style-image: url(../imagens/tick.png);
    padding-left: 3rem;
}

.list__item {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
        font-size: 3rem;
    }
}