<svg class="icon"><use xlink:href="imagens/sprite.svg#news"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#wealth"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#report"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#search"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#quote"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#line"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#chevron"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#menu"></use></svg>
<svg class="icon"><use xlink:href="imagens/sprite.svg#support"></use></svg>
